@background: #eee;

@block-width: 130px;
@block-height: 86px;
@block-gap: 64px;
@block-color: white;//rgb(0, 134, 249);
@block-border-width: 3px;

@link-color-1: rgb(255, 133, 34);//rgb(42, 89, 137);
@link-color-2: rgb(148, 37, 249);//rgb(42, 89, 137);
@link-color-3: rgb(0, 162, 255);//rgb(42, 89, 137);
@link-width: 3px;
@link-dot-size: 9px;

html {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  font-family: 'Signika Negative', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

section {
  padding: 30px 40px;
}

.logo {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

section.chains {
  background: @background;

  .chain {
    position: relative;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;

    > label {
      display: block;
      color: #aaa;
      text-transform: uppercase;
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      font-size: 0.8em;
      line-height: 1em;
      z-index: 1;

      span {
        display: inline-block;
        background: @background;
        padding: 0 8px;
      }
    }
    > label:after {
      content: '';
      display: block;
      border-top: 1px solid #ddd;
      width: 100%;
      position: relative;
      bottom: 0.5em;
      z-index: -2;
    }

    .block {
      display: inline-block;
      background: @block-color;
      border: @block-border-width solid black;
      position: relative;

      width: @block-width;
      height: @block-height;

      border-radius: 6px;

      .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 9px 4px;
        color: #777;
        font-size: 0.9em;
        line-height: 1.15em;

        label {
          text-transform: uppercase;
          font-size: 0.72em;
          font-weight: bold;
          color: #444;
          margin-right: 4px;
        }

        .hash {
          font-family: monospace;
          color: #aaa;
        }

        .separator {
          margin-left: 6px;
          border-left: 1px solid #ddd;
          margin-right: 6px;
        }
      }
    }

    .link {
      display: inline-block;
      position: relative;
      top: -(@block-height / 2) - (@link-width / 2);
      height: @link-width;
      width: @block-gap;
      background: @link-color-1;
    }

    .link:after {
      content: '';
      display: block;
      position: absolute;
      top: -(@link-dot-size / 2) + (@link-width / 2);
      border-radius: 100px;
      height: @link-dot-size;
      width: @link-dot-size;
      background: @link-color-1;
      z-index: 10;
      right: -(@link-dot-size / 2) - (@block-border-width / 2);
    }

    .fade {
      display: inline-block;
      position: relative;
      height: 100%;
      top: -@link-width;
      
      > .link {
        position: absolute;
        left: -@block-gap;
        background: none;
        background-image: linear-gradient(
          to left,
          rgba(@link-color-1, 0.5) -30%,
          rgba(0,0,0,0) 70%
        );
      }
    }
  }
  .chain:last-child {
    .link {
      background: @link-color-2;
    }
    .link:after {
      background: @link-color-2;
    }
    .fade > .link {
      background: none;
      background-image: linear-gradient(
        to left,
        @link-color-2 -30%,
        rgba(0,0,0,0) 70%
      );
    }
  }

  .interchain {
    position: relative;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
    padding: 0;

    .link {
      display: inline-block;
      position: relative;
      width: @link-width;
      height: @block-gap;
      background: @link-color-3;
    }
    .link:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100px;
      height: @link-dot-size;
      width: @link-dot-size;
      background: @link-color-3;
      z-index: 10;
      left: -(@link-dot-size / 2) + (@link-width / 2);
      bottom: -(@link-dot-size / 2) - (@block-border-width / 2);
    }
    .link:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100px;
      height: @link-dot-size;
      width: @link-dot-size;
      background: @link-color-3;
      z-index: 10;
      left: -(@link-dot-size / 2) + (@link-width / 2);
      top: -(@link-dot-size / 2) - (@block-border-width / 2);
    }
  }
}

section.info {}
